*.psd filter=lfs diff=lfs merge=lfs -text
Mas[[:space:]]vale[[:space:]]que[[:space:]]pese[[:space:]]menos[[:space:]]de[[:space:]]100MB.gif filter=lfs diff=lfs merge=lfs -text
Prueba[[:space:]]de[[:space:]]Proyecto.gif filter=lfs diff=lfs merge=lfs -text
