body {
  margin-top: 50px; /* Puedes ajustar el valor según sea necesario */
}
@font-face {
  font-family: 'Cremona Sans';
  src: url('./fonts/cremona-webfont.woff2') format('woff2'),
       url('./fonts/cremona-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1 {
  position: relative;
  z-index: 0;
  font-family: 'Cremona Sans'; /* Agregado para aplicar la nueva fuente */
}

.CarouselContainer {
  position: relative;
  z-index: 1;
  overflow-x: hidden;
}

.card {
  transition: transform 0.3s ease;
  position: relative;
}

.card.hovered {
  transform: scale(1.1);
  z-index: 1000;
  font-family: 'Cremona Sans'; /* Agregado para aplicar la nueva fuente */
}
