/* Estilos para el componente Contact */

.contact-container {
    margin-top:70px ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    background-color: #2d3238; /* Color de fondo suave */
  }
  
  .contact-item {
    text-align: center;
    margin-bottom: 7px;
    padding: 10px;
    background-color: #dfdfdf; /* Color de fondo blanco */
    border-radius: 40px;
    box-shadow: 0 0 10px rgba( 0, 0, 0.1); /* Sombra suave */
  }
  
  .contact-item h3 {
    margin-bottom: 10px;
    color: #333333; /* Color de texto oscuro */
  }
  
  .contact-item p {
    color: #403535; /* Color de texto gris */
  }
  
  .social-logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos adicionales según sea necesario */
  