.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}


.h2 {
  width: 100%;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/fotos-de-ecommerce.appspot.com/o/Background%2Fzahrin-lukman-4gR0hMB5Gd8-unsplash.jpg?alt=media&token=c668290f-abfe-4111-8874-778d8c2f9ab1");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(14, 4, 4, 0.256);
  z-index: 2;
  position: relative;
  font-family: "Cremona Sans", sans-serif;
  animation: animate__animated animate__backInRight;
}



.welcome-message {
  font-family: "Cremona Sans", sans-serif;
  animation: animate__animated animate__backInRight;
}

.label-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-family: "Cremona Sans", sans-serif;
  flex-direction: column;
  margin-top: 20px;
  
}

.label-container label {
  font-size: 1.2em;
  margin-right: 10px;
  font-family: "Cremona Sans", sans-serif;
}

.label-container select {
  font-size: 1.2em;
  padding: 5px;
  width: 200px;
  font-family: "Cremona Sans", sans-serif;
  background-color: #dcb6fda3;
  color: black;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0px;
  margin-bottom: 20px;
  margin-top: 0px;
}

.product-card {
  max-width: 200px;
  margin: 0.5rem;
  transition: transform 0.3s ease-out;
  border: 1px solid #6d2e2e;
  padding: 1rem;
}

.product-image {
  max-width: 100%;
  height: auto;
  max-height: 150px;
}

.product-card:hover {
  transform: scale(1.1);
}
