.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
}

.product {
  border: 1px solid #ffffff;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  transition: box-shadow 0.3s ease;
  overflow: hidden;
  position: relative;
  background-color: #14181d;
}

.product:hover {
  box-shadow: 8px 16px rgba(0, 0, 0, 0.2);
}

.product h3 {
  font-size: 1.8rem;
  margin-bottom: 8px;
}

.product-image {
  max-width: 100%;
  height: auto;
  cursor: pointer;
  border-radius: 12px;
  transition: transform 0.3s ease;
}

.product img {
  max-width: 100%;
  height: auto;
  max-height: 200px;
  border-radius: 12px;
  object-fit: cover;
}

.product label {
  margin-top: 1rem;
}

.product input {
  width: 50px;
}

.product button {
  margin-top: 1rem;
  width: 100%; /* Asegura que el botón ocupe el ancho completo */
}

.descripcion {
  margin-bottom: 12px;
}

.leer-mas {
  color: #007bff;
  cursor: pointer;
  margin-left: 8px;
}

.expandido {
  min-height: 460px;
}

@media (max-width: 767px) {
  .product-container {
    grid-template-columns: repeat(auto-fill, minmax(48%, 1fr)); /* Cambié a 48% para visualizar 2 productos en dispositivos móviles */
  }
}
