@font-face {
  font-family: "Cremona Sans";
  src: url("./fonts/Cremona.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.product-conntainer {
  display: flex;
  gap: 16px;
  overflow-x: auto;
}


.product {
  background-color: #dcb6fda3;
  flex: auto;
  border: 0px solid #000000;
  padding: 14px;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  overflow: visible;
  position: relative;
  background-size: cover;
  background-position: center;
  border: 4px solid #000;

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  img {
    max-width: 100%;
    max-height: 250px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0 0 10px 5px #ffffffad;
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;

    &:hover {
      transform: scale(1.2);
    }
  }

  h3 {
    font-family: "Cremona Sans", sans-serif;
    font-size: 1.5rem;
    margin-bottom: 8px;
    color: #000000;
  }
  .product-image.zoomed {
    transform: scale(1.5);
    transition: transform 0.3s ease;
    z-index: 1000;
    overflow: visible;
  }

  p,
  label {
    font-family: "Cremona Sans", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #00000042;
    border: none;
    border-radius: 8px;
    margin-top: 1rem;
  }

  input {
    width: 50px;
    font-size: 1rem;
    color: #ffffff;
    border: 1px solid #444;
  }

  button {
    margin-top: 1rem;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    background: #0d0a21;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    transition: background 0.3s ease, color 0.3s ease;

    &:hover {
      background: #6d58ff;
    }
  }

  .cantidad {
    font-family: "Cremona Sans", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: #070404;
    background-color: #00000000;
    border: none;
    border-radius: 8px;
    padding: 8px;
    margin: 0 4px;  
  }

  .cantidad-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
  }

  .square-button {
    width: 30px;
    height: 30px;
    background-color: #0d0a21;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;  
    transition: background 0.3s ease, color 0.3s ease;

    &:hover {
      background: #6d58ff;
    }
  }

  .toggle-buttton {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    color: #ffffff;
    background-color: #0d0a21a4;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    transition: background 0.3s ease, color 0.3s ease;

    &:hover {
      background: #6d58ff;
    }
  }

  .leeft-arrow {
    left: 0;
  }

  .righht-arrow {
    right: 0;
  }
}
