/* ProductCard.css */

@font-face {
  font-family: 'Cremona Sans';
  src: url('./fonts/CremonaSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.card {
  font-family: 'Cremona Sans', sans-serif; /* Aplicar la fuente a todo el contenido del componente */
  transition: transform 0.3s ease;
  overflow: visible; 
  position: relative; 
}

.card.hovered {
  transform: scale(1.1);
  z-index: 1001; 
}

/* Aplicar la fuente a los párrafos y encabezados h2 dentro del componente */
.card p,
.card h2 {
  font-family: 'Cremona Sans', sans-serif;
}

/* Aplicar la fuente al botón */
.card button {
  font-family: 'Cremona Sans', sans-serif;
}
